<%- include('parts/header'); %>
<%- include('parts/navbar'); %>

<div class="homepage">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="home-filter-area">
                    <form action="/" method="GET">
                        <select name="category">
                            <option value="all">All</option>
                            <option value="clothes">Clothes</option>
                            <option value="phones">phones</option>
                            <option value="computers">computers</option>
                        </select>
                        <input type="submit" value="Filter" class="btn btn-primary">
                    </form>
                </div>
            </div>
            <% for( let product of products ) { %>
            <div class="col-md-3">
                <div class="product-card">
                    <a href="/product/<%= product.id%>"><img src="<%= product.image %>" alt=""></a>
                    <h4>
                        <a href="/product/<%= product.id%>"><%= product.name %></a>
                    </h4>
                    <span><%= product.price%></sp>
                        <p><%=product.description%></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('parts/footer'); %>
